body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 70px;
  color: #2e2f42;
}

p {
  position: absolute;
  top: 10px;
  left: 10px;
}

nav {
  position: absolute;
  top: 10px;
  left: 10px;
}
.iziToast {
  width: 350px !important;
}
